{% extends 'base.html' %}
{% load static %}

{% block content %}
  {{ post.tag }}<br>
  {{ post.title }}<br>
  {{ post.text }}<br>
  {% if post.image %}
    {{ post.image.url }}
  {% endif %}
  <button id="like">LIKE</button>
  <button id="dislike">DISLIKE</button>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#like').click(function (){
          $.ajax({
              url: "{% url 'api:like' %}",
              type: "POST",
              data: {
                  csrfmiddlewaretoken: '{{ csrf_token }}',
                  news_pk: '{{ post.pk }}',
                  action: 'like'
              },
              dataType: 'json',
              success: function(response) {
                  alert(response.message)
              }
          })
      })
    })
  </script>
{% endblock %}